body{
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Allerta', sans-serif;
}
/*ocultando pantallas*/
.content-niño{
  display: none;
}
.content-joven{
  display: none;
}
.content-adulto{
  display:none;
}

a{
  color: white;
  text-decoration: none;
}

footer{
  background: #ab9fb5;
  bottom: 0;
  height: 80px;
  display: flex;
  justify-content:flex-end;
  align-items:flex-end;

}
header{
  display: flex;
  justify-content: flex-end;
  align-items: center;
/*  border: solid 5px #a2c8b6;*/
  color: #3b99c7;
  background: aliceblue;
  font-size: 25px;
  font-weight: bold;
  margin: 0;
  padding-right: 90px;
  padding-top: 0;
  height: 60px;

}
h1{

}
p{
  font-size: 20px;
  font-weight: bold;
}

section {
  flex: 1;
  transition: .3s;
}

.contenido{
/*  border: 5px solid #bf7f7f;*/
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  flex-direction: column;
  background: aliceblue;
  transition: .3s;
  padding: 0;

}
.contenido:hover img{
  /*transform: scale(1.3);*/
/*  transition: 1.5s;*/
  animation: 3s bebe infinite;
}

.contenido:hover {
  border: 5px solid #fbc6a6;
  background: white;
  border-radius:10px;
}

.contenido:hover .Hp1 {
transform: translateY(0);
}

.contenido:hover .Pp1{
  transform: translateX(0);
}

.contenido:hover .Pp2{
  transform: scale(1);
}
.contenido:hover .Hp2{
  transform: rotate(0);
  opacity:inherit;
}
/*.contenido h2{
  display: flex;
  margin: 0;
  color: peru;
  font-size: 30px;

}*/

.parrafo1{
  position: absolute;
  left: 100px;
  color:#f69e8e;
  bottom: 415px;
}
.parrafo2{
  position: absolute;
  right: 100px;
  color: #94ae9b;
  top:350px;
}

.parrafo1 h2{
  display: flex;
  margin: 0;
  color: #a2d6bf;
  font-size: 30px;
  transform: translateY(-200px);
  transition: .8s;
}

.parrafo1 p{
  transform: translateX(-800px);
  transition: 1.2s;
}

.parrafo2 h2{
  display: flex;
  margin: 0;
  color: peru;
  font-size: 30px;
  transform: rotate(90deg);
  opacity: 0;
  transition: .8s
}

.parrafo2 p{
  transform: scale(0);
  transition: 1.3s;
}

.caja{
  margin:20px 40px;
  padding: 5px;
  transition: 2s;
}

.caja img{
  margin: 20px;

}
/*Animaciones */
@keyframes bebe {
0%{
  opacity: 0;
  transform: translateY(-150px);
  transform: scale(0);
}

100%{
  transform: scale(1);
}
}

@keyframes niño {
50%{
  transform: translateY(5px);
}
100%{
  transform: translateY(0px);
}
}

@keyframes hparrafo3 {
0%{
  transform: translateY(-900px);
}
100%{
  transform: translateY(0px);
}
}

@keyframes joven {
0%{
  transform: translateY(0px);
}
100%{
  transform: translateY(-1px);
}
}

@keyframes hparrafo4 {
0%{
  transform: scale(0);
}
100%{
  transform: scale(1);
}
}

@keyframes pparrafo4 {
0%{
  transform: rotate(0deg);
}
100%{
  transform: rotate(360deg);
}
}




@media screen and (max-width:1000px) {

  header{
    justify-content: center;
    color:#6F9659;
    background: #895844;
  }

  footer{
    background: rgb(65, 171, 100);
    bottom: 0;
    height: 80px;
    display: flex;
    justify-content:flex-end;
    align-items:flex-end;

  }
/* ocultando la primera pantalla */
.contenido{
  display: none;
}
/* css niño*/
.content-niño{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 0;
  flex-direction: column;
  background: #895844;
  transition: .5s;
  padding: 0;
}
.content-niño .cabeza-n{
  animation: .8s niño infinite;
}


.caja-n{
  margin-right: 80px;
  transition: 1s;
}
.caja-n .cabeza-n{
  position: absolute;
}
.parrafo3{
  position: absolute;
  left: 24px;
  bottom: 240px;
}

.Hp3{
  color:#ffe16f;
  animation: 1.5s hparrafo3;
}
.Pp3{
  color: gainsboro;
  justify-content: center;
  animation: 1.3s hparrafo3;
}

@media screen and (max-width:850px) {

  /*ocultando las pantallas*/
  .content-niño{
    display: none;
  }

  /* Css para joven */

  header{
    background:#ff8181;
    color: #f0c7b7;
  }

  footer{
    background:#ca6c36;
    bottom: 0;
    height: 80px;
    display: flex;
    justify-content:flex-end;
    align-items:flex-end;

  }
  .content-joven{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
    flex-direction: row;
    background: #ff8181;
    transition: 1s;
    padding: 0;
  }
  .caja-j{
    margin-top:50px;
    position: relative;
    display: flex;
    align-items: center;
    transition: 1s;
  }
  .caja-j .cuerpo-j{
    animation: 1s joven infinite;
    transition: 1s;
  }
  .cuerpo-j{
    margin-left: -315px;
  }
  .parrafo4{
    margin-top: 95px;
  }
  .Hp4{
    color:#f0c7b7;
    font-size: 30px;
    border-bottom: solid #ca6c36 5px;
    animation: .8s hparrafo4;
  }
  .Pp4{
    color: #404040;
    font-size: 18px;
    animation: .5s pparrafo4;
  }

}

@media screen and (max-width:775px) {
  header{
    background: cadetblue;
    color: #af3c3c;
  }

  footer{
    background: #121212
  }

  .content-joven{
    display: none;
  }

  .content-adulto{
    display: flex;
    flex-direction: row-reverse;
    background: cadetblue;
  }

  .parrafo5{
    margin-top:120px;
    transition: .8s;
    margin-left: 35px;
    padding: 0;
  }

  .Pp5{
    font-size: 15px;
    color:whitesmoke;
    animation: .5s hparrafo4;
  }
  .Hp5{
    animation: .8s hparrafo3;

  }
  .caja-a{
    margin-top: 30px;
    align-items: center;
    display: flex;
    transition: .5s
  }
  .cabeza-a{
    margin-right: -315px;
    animation: .8s niño infinite;
  }
}
